/* Apple Common Css */

@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Varta:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');

html,body{
    font-family: 'Varta','Nanum Gothic', sans-serif;
    font-size: 14px;
    min-width: 360px;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Varta','Nanum Gothic', sans-serif;
    font-weight: 700;
}
h2 {
    font-size: 120px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700; 
    letter-spacing: -2px;}
h3 {font-size: 36px;}
h4 {font-size: 20px;}
/* h5 {font-size: ;} */
/* h6 {font-size: ;} */

a {color: inherit;}

/* Header */
header {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* Section */
section {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* Footer */
footer {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* -------------Header GNB-NAV bar ------------*/
.hdrWrap {
    width: 100vw; top: 0; left: 0;
    position: fixed; z-index: 10;
}
.navBar {
    width: 100%;
    background-color: #000;
    color: #eee;
}
.navBar header{position: relative;}
.navBar h1{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.navBar img {width: 20px; vertical-align: -3px;}
.navBar nav{
    line-height: 30px;
    position: absolute;
    right: 0; top: 0;
}
.navBar nav a { margin-left: 20px;}
.navBar nav a:first-child:hover{text-decoration: underline;}
.navBar .menuBtn {display: none;}
.menuOpen {
    width: 40vw; height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0; left: 0;
    display: none;
}

/* GNB 마우스 올렸을시 DropDown Menu */
.gnbBar {
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #ccc;
}
.gnb {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 40px;
}
.gnb > li > a {
    color: #aaa;
    transition: color 0.3s;
}
.gnb > li > a:hover {
    color: #fff;
}
.gnb > li {
    position: relative;
    width: calc(100% / 8);
}
ul.sub {
    text-align-last: left;
    background: transparent;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: none;
    box-shadow: inset 0 0px 5px rgba(255,255,255, 0.3);
}
ul.sub li {
    color: #ccc;
    line-height: 25px;
    margin-left: 10px;
}
.sub li:hover {text-decoration: underline;}
/* ================ End of Header ================= */
/* ------------------- FOOTER --------------------*/
.ftrWrap {
    background: #111;
    color: #fff;
    padding: 80px 0;
}
.ftrWrap footer {
    display: flex;
    flex-wrap: wrap;
}

/* Footer Top */
.ftr_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logoSns {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logoSns a {
    font-size: 25px;
    line-height: 25px;
    margin: 0 10px; 
    color: #999;
    transition: color 0.2s;
}
.logoSns a:hover {color: #eee;}
.logoSns img {width: 20px; vertical-align: top}

.ftr_sub {
    display: flex;
    justify-content: space-around;
    flex: 10;
}
ul.submenu {}
li.category { text-decoration: underline;}
.submenu > li:not(.category) {margin-top: 10px;}

/* Footer Bottom */
.ftr_bot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ftr_bot::before {
    display: block;
    content: '';
    width: 100%; height: 1px;
    background: #fff;
    margin: 40px 0;
}
.ftr_left {width: 50%;}
.ftr_left ul {
    width: 100%;
    display: flex;
    margin: 20px 0;
}
.ftr_left ul li {margin-right: 20px;}

.ftr_right {
    width: 50%;
    text-align: right;
}
.ftr_right address { margin-top: 20px;}
/* ================ End of Footer =============== */