
/* Main Section */
.mainWrap {
    width: 100%; 
    height: 2194px;
    background: url('../img/main_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center 330px;
    margin-top: 70px;
    position: relative;
}
h2 {
    /* width: 100%; */
    line-height: 120px;
    top: 0;left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    margin-top: 60px;
    z-index: 2;
    color: white;
    text-shadow: 0 90px 0px rgba(33,33,33,.7), 0 180px 0 rgba(55,55,55,0.2);
    background: linear-gradient(90deg,#4a03a1, #c800ff,#00c8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/* ------------ Content #1 슬라이더1  --------------*/
/* ============== End of Content#1 ============== */

/* ------------ Content #2 슬라이더2  --------------*/
/* ============== End of Content#2 ============== */

/* ------------ Content #3 서비스 혜택  --------------*/
.cntBenefit {padding: 160px 0;}
.cntBenefit header {text-align: center;}
.cntBenefit header p {margin-top: 20px;}
.cntBenefit section {margin-top: 80px; position: relative;}

.topNbot {display: flex; justify-content: space-between;}
.cntBenefit .top {width: 100%;}
.cntBenefit .bot {
    width: 100%;
    margin-top: 40px;
    flex-direction: row-reverse;
}
.topNbot > .image {display: block; width: calc(100% / 12 * 7); height: 440px;}
.bigImg {
    width: 100%;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.big1 {background-image: url('../img/cnt03_appletv.png');}
.small1 {background-image: url('../img/cnt03_appletv2.png');}
.big2 {background-image: url('../img/cnt03_card.png');}
.small2 {background-image: url('../img/cnt03_card2.png');}

.smallImg {
    width: calc(100% / 12 * 4);
    height: 440px;
    margin-top: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px rgba(33,33,33,0.3), inset 0 0 5px rgba(255,255,255,0.3);
}
.topNbot .texts {
    font-size: 24px;
    color: #eee;
    position: absolute;
    bottom: 20px; right: 20px;
}
.bot .texts {color: #111; right: initial; left: 20px; font-weight: 700;}
.bot .texts p {text-shadow: 0px 2px rgba(255,255,255,1);}

.slideBG {
    width: 100vw; height: 480px;
    background: linear-gradient(to left,#4d03a7, #c800ff,#00c8ff);
    opacity: 0.4;
    margin-left: calc((100vw - 100%) / -2);
    position: absolute;
    top: 280px; left: 100vw;
    z-index: -10;
    transition: left 0.7s ease-in-out, opacity 0.7s;
    transition-delay: 0.7s;
}
.m_slideBG {
    width: 100vw; height: 480px;
    background: linear-gradient(to right,#4d03a7, #c800ff,#00c8ff);
    opacity: 0.4;
    margin-right: calc((100vw - 100%) / -2);
    position: absolute;
    top: 1240px; right: 100vw;
    z-index: -10;
    transition: right 0.7s ease-in-out, opacity 0.7s;
    display: none;
}
/* ============== End of Content#3 ============== */


/* ------------ Content #4 더 많은 서비스  --------------*/
/* ============== End of Content#4 ============== */

/* ------------ Content #5 파트너쉽  --------------*/
/* ============== End of Content#5 ============== */

/* ------------ Content #6 고객지원  --------------*/
.cntSupport {padding: 80px 0;}
.cntSupport header {text-align: center;}
.cntSupport header p{ margin-top: 20px;}
.cntSupport section {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.cntSupport article {width: 180px; height: 200px; position: relative;}
.cntSupport article:hover .image {top: -20px;}
.cntSupport article:hover .texts {}
.cntSupport article:hover .texts a {margin-left: 10px;}
.cntSupport article:hover .texts i {margin-left: 10px;}
.cntSupport .image {
    width: 140px; height: 140px;
    position: absolute;
    top: 0; left: 0; right: 0;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: top 0.3s;
}
.support1 {background-image: url('../img/support1.png');}
.support2 {background-image: url('../img/support2.png');}
.support3 {background-image: url('../img/support3.png');}
.cntSupport .texts {
    margin-top: 20px; color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    margin: 0 auto;
}
.cntSupport .texts a {display: block; text-align: center; transition: margin-left 0.3s}
.cntSupport .texts i {
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle; 
    transition: margin-left 0.3s;
}
/* ============== End of Content#6 ============== */