/* Index.html Responsive */

@media (max-width:1200px){
    .hdrWrap {font-size: 12px;}

    /* mainWrap */
    .mainWrap h2 {font-size: 108px;}
    /****End of Main****/

    /* Content 3 */
    /****End of Content 3****/

    .ftrWrap {font-size: 12px;}
}
/* --------------------------------------------------------------- 1024 */
@media (max-width:1024px){

    /* mainWrap */
    .mainWrap h2 {font-size: 96px;}
    /****End of Main****/

    /* Content 3 */
    .cntBenefit .smallImg{background-position: left;}
    .topNbot > .image {width: calc(100% / 12 * 8 - 10px);}
    .smallImg {width: calc(100% / 12 * 4 - 10px);}
    /****End of Content 3****/

    .logoSns a {margin: 0 5px;}
    .ftrWrap .submenu {font-size: 11px;}
    .ftr_left {width: 60%;}
    .ftr_right {width: 40%;}
}
/* ----------------------------------------------------------------- 768 */
@media (max-width:768px){ 
    /* common css */
    h3 {font-size: 24px;}

    .hdrWrap header {font-size: 14px;}
    .navBar h1{
        font-size: 18px;
        line-height: 40px;
        text-align: center;
    }
    .navBar h1 span {display: none;}
    .navBar img {
        width: 20px;
        vertical-align: -3px;
    }
    .navBar nav{line-height: 40px;}
    .navBar nav a {
        margin-left: 0;
        margin-right: 5px;
    }
    /* add hamburger icon here */
    
    .navBar header {border: 1px solid yellow;}
    .navBar .menuButton::after{
        display: block;
        content: '';
        width: 10px; height: 10px;
        outline: 1px solid red;
        position: absolute;
        left: 10px;top: 0;
    }

    .gnbBar {display: none;}
    /* End Common */

    /* mainWrap */
    .mainWrap {
        margin-top: 40px;
        background-position: center 250px;
    }
    .mainWrap h2 {
        width: 55%;
        font-size: 72px;
        text-shadow: 0 55px 0px rgba(33,33,33,.7), 0 110px 0 rgba(55,55,55,0.2);
    }
    /****End of Main****/

    /* Content 3 */
    .cntBenefit {height: 2350px;}
    .topNbot > .image {width: 100%;}
    .topNbot {position: relative;}
    .topNbot .texts {font-size: 20px; bottom: 40px;}
    .cntBenefit .bot {margin-top: 600px;}
    .cntBenefit .smallImg{
        position: absolute; 
        width: 50%;
        top: 400px;
        margin-top: 0;
        background-position: center;
    }
    .small1 {left: 10px;}
    .small2 {right: 10px;}
    .slideBG {top: 200px;}
    .m_slideBG {display: block;}
    /****End of Content 3****/

    /* Content 6 */
    .cntSupport section {flex-wrap: wrap; row-gap: 40px;}
    .cntSupport article {width: 50%;}
    /*****End Content 6 *****/

    /* footer */
    .ftrWrap {padding: 40px 0;}
    .ftr_top {display: block;}
    .logoSns {justify-content: center;position: relative;}
    .logoSns nav {position: absolute;top: 0; right: 0;}
    .logoSns a {line-height: initial;}
    .ftr_sub {
        margin-top: 40px;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 40px;
        max-height: 400px;
    }
    .submenu {width: 50%; padding: 0 10%;}

    .ftr_bot {display: block;}
    .ftr_left {width: 100%;}
    .ftr_left ul {margin-top: 10px; width: 100%;}
    .ftr_right {width: 100%; text-align: left;margin-top: 20px;}
    .ftr_right address {margin-top: 10px;}
    /***** End Footer  *****/
}
/* ------------------------------------------------------------------- 414 */
@media (max-width:414px){
    /* mainWrap */
    .mainWrap h2 {
        width: 65%;
        font-size: 60px;
        text-shadow: 0 50px 0px rgba(33,33,33,.7), 0 100px 0 rgba(55,55,55,0.2);
    }
    /****End of Main****/
    /****End of Main****/
    /* Content 3 */
    .cntBenefit {height: 2150px;}
    .cntBenefit header p {font-size: 12px;}
    .cntBenefit .bot {margin-top: 520px;}
    .cntBenefit .smallImg{
        width: 80%; height: 240px;
    }
    .slideBG{top:80px;}
    .m_slideBG {top: 1040px;}
    /****End of Content 3****/
    /* Content 6 */
    .cntSupport header p {font-size: 12px;}
    .cntSupport article {width: 100%;}
    /****End of Content 6****/
    /* footer */
    .logoSns a {font-size: 20px; line-height: 30px; margin: 0 3px;}
    .submenu {padding: 0 5%;}
    .ftr_left ul {flex-wrap: wrap;}
    .ftr_left ul li {width: 50%;margin-right: initial;}
    /****End Footer****/
}
@media (max-width:360px){
    .navBar h1{
        font-size: 0;
    }
    .navBar img {
        vertical-align: middle;
    }
    .navBar nav a:first-child{
        display: none;}
}